@model BlogWebsite.Models.SidebarViewModel
    <aside class="col-md-4 blog-sidebar">

        @Html.Partial("_About")

        @if (Model != null)
        {
            @if (Model.ArchiveSections.Count > 0)
            {
                <div class="p-4">
                    <h4 class="font-italic">Archive</h4>
                    <ol class="list-unstyled mb-0">
                        @foreach (var archiveSection in Model.ArchiveSections)
                        {
                            <li><a asp-action="archive"
                                   asp-controller="blog"
                                   asp-route-year="@archiveSection.Year"
                                   asp-route-month="@archiveSection.Month">@archiveSection.ArchiveSectionName</a>
                            </li>
                        }
                    </ol>
                </div>
            }

            @if (Model.SocialMedias.Count > 0)
            {
                <div class="p-4">
                    <h4 class="font-italic">Find me on</h4>
                    <ol class="list-unstyled">
                        @foreach (var socialMedia in Model.SocialMedias)
                        {
                            <li><a href=@socialMedia.Url>@socialMedia.Name</a></li>
                        }
                    </ol>
                </div>
            }
        }
    </aside>