@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model BlogWebsite.Models.SidebarViewModel
<aside class="col-md-4 blog-sidebar">

    @Html.Partial("_About")

    @if (Model != null)
    {
        @if (Model.LatestPosts.Count > 0)
        {
            <div class="p-4">
                <h4 class="font-italic">@Localizer["Latest Posts"]</h4>
                <ol class="list-unstyled mb-0">
                    @foreach (var post in Model.LatestPosts)
                    {
                        <li>
                            <a asp-action="post"
                               asp-controller="blog"
                               asp-route-year="@post.PublishedOn.Year"
                               asp-route-month="@post.PublishedOn.Month"
                               asp-route-title="@post.Slug">@post.Title</a>
                        </li>
                    }
                </ol>
            </div>
        }

        @if (Model.ArchiveSections.Count > 0)
        {
            <div class="p-4">
                <h4 class="font-italic">@Localizer["Archive"]</h4>
                <ol class="list-unstyled mb-0">
                    @foreach (var archiveSection in Model.ArchiveSections)
                    {
                        <li>
                            <a asp-action="archive"
                               asp-controller="blog"
                               asp-route-year="@archiveSection.Year"
                               asp-route-month="@archiveSection.Month">@archiveSection.ArchiveSectionName</a>
                        </li>
                    }
                </ol>
            </div>
        }

        @if (Model.SocialMedias.Count > 0)
        {
            <div class="p-4">
                <h4 class="font-italic">@Localizer["Find me on"]</h4>
                <ol class="list-unstyled">
                    @foreach (var socialMedia in Model.SocialMedias)
                    {
                        <li><a href=@socialMedia.Url>@socialMedia.Name</a></li>
                    }
                </ol>
            </div>
        }
    }
</aside>