@model BlogWebsite.Models.ListViewModel
@*TODO to remove this structure*@
@Html.Partial("_JumbotronFeaturedPost", @Model.JumbotronPost)

<div class="row mb-2">
    @Html.Partial("_FeaturedPost", @Model.FirstFeaturedPost)
    @Html.Partial("_FeaturedPost", @Model.SecondFeaturedPost)
</div>