@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model BlogWebsite.Models.ListViewModel


<nav class="blog-pagination">
    @if (Model.ShowPrevious)
    {
        @if (Model.Type.Equals("Posts"))
        {
            <a class="btn btn-outline-primary" asp-action=posts
               asp-controller="blog"
               asp-route-p="@(Model.CurrentPage + 1)">@Localizer["Older"]</a>
        }
        else if (Model.Type.Equals("Search"))
        {
            <a class="btn btn-outline-primary" asp-action=search
               asp-controller="blog"
               asp-route-p="@(Model.CurrentPage + 1)"
               asp-route-s="@Model.Search">@Localizer["Older"]</a>
        }
        else if (Model.Type.Equals("Category"))
        {
            <a class="btn btn-outline-primary" asp-action=category
               asp-controller="blog"
               asp-route-p="@(Model.CurrentPage + 1)"
               asp-route-category="@Model.Category.Slug">@Localizer["Older"]</a>
        }
        else if (Model.Type.Equals("Tag"))
        {
            <a class="btn btn-outline-primary" asp-action=tag
               asp-controller="blog"
               asp-route-p="@(Model.CurrentPage + 1)"
               asp-route-tag="@Model.Tag.Slug">@Localizer["Older"]</a>
        }
    }
    else
    {
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">@Localizer["Older"]</a>
    }


    @if (Model.ShowNext)
    {
        @if (Model.Type.Equals("Posts"))
        {
            <a class="btn btn-outline-primary" asp-action="posts"
               asp-controller="blog"
               asp-route-p="@(Model.CurrentPage - 1)">@Localizer["Newer"]</a>
        }
        else if (Model.Type.Equals("Search"))
        {
            <a class="btn btn-outline-primary" asp-action=search
               asp-controller="blog"
               asp-route-p="@(Model.CurrentPage - 1)"
               asp-route-s="@Model.Search">@Localizer["Newer"]</a>
        }
        else if (Model.Type.Equals("Category"))
        {
            <a class="btn btn-outline-primary" asp-action=category
               asp-controller="blog"
               asp-route-p="@(Model.CurrentPage - 1)"
               asp-route-category="@Model.Category.Slug">@Localizer["Newer"]</a>
        }
        else if (Model.Type.Equals("Tag"))
        {
            <a class="btn btn-outline-primary" asp-action=tag
               asp-controller="blog"
               asp-route-p="@(Model.CurrentPage - 1)"
               asp-route-tag="@Model.Tag.Slug">@Localizer["Newer"]</a>
        }
    }
    else
    {
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">@Localizer["Newer"]</a>
    }
</nav>