@model BlogWebsite.Core.Entities.Post
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="~/css/blog.css" rel="stylesheet" />
</head>
<div class="blog-post">
    <h2 class="blog-post-title">
        <a class="blog-post-hyperlink"
           asp-action="post"
           asp-controller="blog"
           asp-route-year="@Model.PublishedOn.Year"
           asp-route-month="@Model.PublishedOn.Month"
           asp-route-title="@Model.Slug">@Model.Title</a>
    </h2>

    @*<div class="row">*@
    <p class="blog-post-meta">
        @Model.PublishedOn @*by <a href="#">Mark</a>TODO add author and users*@
        <div class="post-category">
            <span>
                Category: <a asp-action="category"
                             asp-controller="blog"
                             asp-route-category="@Model.Category.Slug">@Model.Category.Name</a>
                        </span>
                    </div>
                    @*@Html.Partial("_Tags", Model.Tags)*@
                    <!--</div>-->
            @*</div>*@
     </p>

        <p>
            @Model.Description
        </p>
</div>