@using Microsoft.AspNetCore.Http.Extensions
@model BlogWebsite.Core.Entities.Post

<p class="blog-post-meta">
    @Html.DisplayFor(x => Model.PublishedOn),
    @* here circural photo of author *@
    
    <a href="@string.Format("{0}#disqus_thread", @Context.Request.GetDisplayUrl())"></a>
    Category: <a asp-action="category"
                 asp-controller="blog"
                 asp-route-category="@Model.Category.Slug">@Model.Category.Name</a>,
                Tags: @Html.Partial("_Tags", Model.Tags)
</p>

<script id="dsq-count-scr" src="//mziemba.disqus.com/count.js" async></script>



            @*"p-2 text-muted"*@

            @*Published on by <a href="#">Mark</a>TODO add author and users - and then category and tags on second line?*@                                                 